.homepage {
	background-color: black;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;

	.spinningLogo {
		height: 80%;
		position: relative;
		top: -10%;
	}

	.optionsCont {
		height: 35%;
		width: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: absolute;
		bottom: 20%;

		.option {
			height: 80%;
			cursor: pointer;
		}
	}
}
